<div class="layout__container">
  <div class="layout__left-part">
    <label for="input-file" style="padding-right: 10px;">Fichier d'entrée </label>
    <input type="file" name="input-file" id="input-file" accept=".txt" (change)="onFileChange($event)">
  </div>
  <div class="layout__center">
    <button (click)="processFile()">Démarrer l'aventure</button>
  </div>
  <div class="layout__right-part"> 
    <div class="output-text">{{outputText}} </div>
    <div *ngIf="outputFileURL">
      <button (click)="downloadFile()">Télécharger</button>
    </div>
  </div>
</div>